# Created by https://www.gitignore.io

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
venv/
*.pyc
.idea

# Test dataset
vid/
bbox/
orig_vid/

# Documents and reports
doc/

### OSX ###
.DS_Store
*.swp

# git #
.gitattributes
.gitignore
